<footer class="py-4 footerGral">
    <div class="container text-center">
        <p class="textoFooter">&copy; 2023 Unlam Trivia. All rights reserved.</p>
    </div>
</footer>

<script src="http://localhost/view/js/mapa.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="http://localhost/view/js/lobbyAdmin.js"></script>
<script src="http://localhost/view/js/jspdf.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>

</body>
</html>