{{> header_admin}}
<div class="container">
    <div class="lobby-container">
        <div class="containerImgPuntaje">
            {{#datosUsur}}
                <img src="http://localhost/{{url_imagen}}" class="imagenPerfil">
            {{/datosUsur}}
            <div class="btn-container">
                <button class="btn btn-primary button"><a id="nuevaPartida" href="/partida/nuevaPartida">Empezar a
                    jugar</a>
                </button>
                <button class="btn btn-primary"><a id="verRanking" href="/ranking/obtenerRanking">Ver Ranking</a>
                </button>
            </div>
        </div>
        {{#datosUsur}}
            <h1 class="nombreUsuario">{{usuario}}</h1>
        {{/datosUsur}}
        <div class="container">
            <div class="form-filtro">
                <div class="form-group">
                    <input type="date" class="form-control" id="filtroFecha">
                </div>
                <div class="form-group">
                    <button onclick="mostrarGraficos()" class="btn btn-primary boton-filtro" name="enviarFiltro">Filtrar</button>
                </div>

            </div>
            <div class="row row-cols-auto g-2 g-lg-3">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-center fw-semibold">JUGADORES TOTALES</h5>
                            <canvas id="jugadoresTotal"></canvas>
                            <button  class="btn btn-primary boton-filtro" onclick="genPDF('jugadoresTotal')">Imprimir</button>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-center fw-semibold">PARTIDAS JUGADAS</h5>
                            <canvas id="partidasJugadas"></canvas>
                            <button  class="btn btn-primary boton-filtro" onclick="genPDF('partidasJugadas')">Imprimir</button>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-center fw-semibold">PREGUNTAS EN JUEGO</h5>
                            <canvas id="preguntasEnJuego"></canvas>
                            <button  class="btn btn-primary boton-filtro" onclick="genPDF('preguntasEnJuego')">Imprimir</button>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-center fw-semibold">PREGUNTAS DADAS DE ALTA</h5>
                            <canvas id="preguntasDadasDeAlta"></canvas>
                            <button  class="btn btn-primary boton-filtro" onclick="genPDF('preguntasDadasDeAlta')">Imprimir</button>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-center fw-semibold">USUARIOS NUEVOS</h5>
                            <canvas id="usuariosNuevos"></canvas>
                            <button class="btn btn-primary boton-filtro" onclick="genPDF('usuariosNuevos')">Imprimir</button>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-center fw-semibold">USUARIOS POR PAIS</h5>
                            <canvas id="usuariosPorPais"></canvas>
                            <button class="btn btn-primary boton-filtro" onclick="genPDF('usuariosPorPais')">Imprimir</button>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-center fw-semibold">USUARIOS POR GENERO</h5>
                            <canvas id="usuarioPorGenero"></canvas>
                            <button class="btn btn-primary boton-filtro" onclick="genPDF('usuarioPorGenero')">Imprimir</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-center fw-semibold">USUARIOS POR GRUPO EDAD</h5>
                            <canvas id="usuariosPorGrupo"></canvas>
                            <button class="btn btn-primary boton-filtro" onclick="genPDF('usuariosPorGrupo')">Imprimir</button>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title text-center fw-semibold">PORCENTAJES DE PREGUNTAS CORRECTA POR
                                USUARIOS</h5>
                            <canvas id="porcentajeCorrectasUsur"></canvas>
                            <button class="btn btn-primary boton-filtro" onclick="genPDF('porcentajeCorrectasUsur')">Imprimir</button>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
</div>
{{> footer}}


