{{> header}}
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 style="color:#fff; font-weight:900;">¡BIENVENIDO A UNLAM TRIVIA!</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                        <div class="text w-100">
                            <img src="http://localhost/view/images/unlam_trivia.png" class="img-fluid">
                            <p>Todavia no tenes una cuenta?</p>
                            <a href="/registro" class="btn btn-white btn-outline-white">Registrate</a>
                        </div>
                    </div>
                    <div class="login-wrap p-4 p-lg-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Ingresar</h3>
                            </div>
                            <div class="w-100">
                                <p class="social-media d-flex justify-content-end">
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                </p>
                            </div>
                        </div>
                        <form action="/sesion/iniciarSesion" class="signin-form" method="POST">
                            <div class="form-group mb-3">
                                <label class="label" for="name">Email</label>
                                <input type="text" name="email" class="form-control" placeholder="Email" required>
                                {{#errors}}
                                    <p style="color:red">{{email}}</p>
                                {{/errors}}
                            </div>
                            <div class="form-group mb-3">
                                <label class="label" for="password">Contraseña</label>
                                <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
                                {{#errors}}
                                    <p style="color:red">{{contraseña}}</p>
                                {{/errors}}
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Ingresar</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-left">
                                    <label class="checkbox-wrap checkbox-primary mb-0">Recordarme
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="/sesion/recordarpassword">Olvidaste tu contraseña?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{> footer}}

